.portlet {
    .portled-badge {
        min-height: 14px;
        max-height: 39px;
        padding: .65em .7em;
        -webkit-border-radius: 0px;
           -moz-border-radius: 0px;
                border-radius: 0px;
    }
}