.note {
    margin: 0 0 20px;
    padding: 15px 30px 15px 15px;
    border-left: 5px solid #eee;
    &.note-info {
        background-color: #E8F6FC;
        border-color: #57b5e3;
    }
    &.note-warning {
        background-color: #FCF3E1;
        border-color: #fcb322;
    }
    &.note-danger,
    &.note-error {
        background-color: #FAEAE6;
        border-color: #ed4e2a;
    }
    &.note-success {
        background-color: #EBFCEE;
        border-color: #3cc051;
    }
}