.portlet {
    clear: both;
    margin-top: 0;
    margin-bottom: 25px;
    padding: 0;
    .portlet-badge {
        min-height: 14px;
        max-height: 39px;
        padding: .65em .7em;
        //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
        border-radius: 0;
    }
    &.portlet-box {
        padding: 0 !important;
        .portlet-title {
            padding: 8px 10px 2px;
            border-bottom: 1px solid $color_gallery_approx;
            margin-bottom: 0;
        }
        .portlet-body {
            padding: 1rem;
        }
    }
    @include portlet-color('pink', $color_crimson_approx);
    @include portlet-color('blue', $color_cornflower_blue_approx);
    @include portlet-color('yellow', $color_yellow_orange_approx);
    .portlet-title {
        margin-bottom: 15px;
        border-bottom: 1px solid $color_gallery_approx;
        &:after {
            @extend %extend_11;
        }
        &:before {
            @extend %extend_11;
        }
        .caption {
            display: inline-block;
            font-size: 18px;
            font-weight: 400;
            margin: 0 0 7px;
            padding: 0;
            i {
                margin-top: 5px;
                display: inline-block !important;
                font-size: 13px;
                margin-right: 5px;
                color: $color_storm_dust_approx;
            }
        }
    }
    .portlet-body {
        clear: both;
        padding: 0;
    }
    &.project-dashboard-information ul li {
        padding: 0.5rem;
    }
}